[mol_form_field] {
	flex-direction: row;
	align-items: center;
	min-height: auto !important;
}

[scale_settings_names] [mol_form_field] {
	flex:initial
}

/* [scale_settings_list] [mol_form_field_label] {
	flex-grow: 3;
}
[scale_settings_list] input {
	flex-grow: 9;
} */

[scale_app_dash_body_act_row]  [mol_labeler_label]{
	padding: 0;
}

[scale_app_stats_body_act_row]  [mol_labeler_label]{
	padding: 0;
}

[scale_stats_filter_form_foot] {
	display: none;
}

[scale_stats_filter_form_body] [mol_form_field] {
	height: fit-content;
	flex:initial
}

._row_expanded {
	width: 100%;
	flex-direction: column;
}

._row_expanded [scale_dash_control], ._row_expanded [scale_dash_camera_list] {
	width: 100%;
}

._row_expanded [scale_dash_btn_row] {
	margin-top: 0;
}

._pinned {
	max-height: 50%;
	position: sticky;
    top: 0;
    left: 0;
    z-index: var(--mol_layer_float);
    opacity: 1;
    transition: opacity .25s ease-in;
    display: block;
    background: linear-gradient( var(--mol_theme_card), var(--mol_theme_card) ), var(--mol_theme_back);
    box-shadow: 0 0 0.5rem hsla(0,0%,0%,.25);
}
